*,
:before,
:after {
  box-sizing: border-box;
}

body {
  text-align: center;
}

* {
  margin: 0;
  font-family: "Alata", sans-serif;
}

img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #edc7b7;
}

a {
  text-decoration: none;
  float: left;
  display: block;
  color: #123c69;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
}

body {
  background-image: url("https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  height: 500px;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  /* background: #fffff5; */
  /* opacity: 75%; */
  /* border-radius: 5px; */
  /* padding: 30px; */
}

.input-row {
  margin: 25px 0px;
}

label {
  display: block;
  padding-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  letter-spacing: 0.3em;
}

button {
  border-radius: 0px;
  padding: 5px 15px;
  margin: 20px 10px;
  background: #123c69;
  border: 1px solid #607d8b;
  cursor: pointer;
  color: white;
}

.register {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
}

.register a {
  color: black;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #123c69;
  padding: 10px;
}

.fas {
  font-size: 20px;
  padding: 10px;
}

.pop-out {
  transition: transform 0.2s;
}

.pop-out:hover {
  transform: scale(1.05);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.pop-out {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1.4s ease-out 0s 1 slideInFromLeft;
}

.form-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
